@charset "UTF-8";
/*-----------stacks------------*/
.stacks-container, .stacks-icon-container {
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s all;

}

.stacks-container, .stacks-icon-container > img {
    cursor: pointer;

}

.stacks-container:HOVER, .stacks-icon-container > img:HOVER {
    background: silver;

}

.stacks-icon-container > img {
    margin: 0 5px;
}

.stacks-description > div {
    box-shadow: 2px 2px 5px rgba(150, 0, 0, 0.5),
    2px -2px 5px rgba(150, 0, 0, 0.5),
    -2px -2px 5px rgba(150, 0, 0, 0.5),
    -2px 2px 5px rgba(150, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
}

/*-----------salary------------*/
.salary-mode-asciiArt {
    text-align: center;
    font-family: sans-serif;
    transition: 1s all;
}

.salary-mode-asciiArt-normal {
    background: rgba(0, 0, 100, 1);
}

.salary-mode-asciiArt-normal:HOVER {
    background: lightblue;
}

.salary-mode-asciiArt-hard {
    background: rgba(100, 0, 0, 1);
}

.salary-mode-asciiArt-hard:HOVER {
    background: red;
}

/*-----------project------------*/
.project-container {
    display: flex;
}

.project-container > * {
    margin: 5px;
}

.project-container > div {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.project-container img {
    width: 100px;
    height: 100px;
}

.project-list-myblog {
    background: URL('../img/background/11.gif');
}

.project-list-github {
    background: URL('../img/background/f7531767a6c3f8af51123596437735bd.gif');
}

.project-list {
    transition: 1s all;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.project-list:HOVER {
    background: black;
}
/*-----------shortcut------------*/
.shortcut-container img{
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    animation: modal-pop-up 1s;
}
.shortcut-container{
    display: flex;
    flex-wrap: wrap;

}
.shortcut-container>a{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(150, 0, 0, 1),
                -1px -1px 3px rgba(150, 0, 0, 1),
                1px -1px 3px rgba(150, 0, 0, 1),
                -1px 1px 3px rgba(150, 0, 0, 1);
    transition: 1s all;
}
.shortcut-container>a:HOVER{
    background: silver;
}