@charset "UTF-8";

.command {
    border: 1px groove silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    left: 20vw;
    min-width: 70vw;
}

@media (max-width: 1200px) {
    .command {
        left: 0;
    }
}

.command * {
    z-index: 1;
}

.command-max-width {
    padding-right: 150px;
    position: absolute;
    width: 100%;
    min-height: 50vh;
    left: 0 !important;
    box-sizing: border-box;
}
.command-max-width>.mainConsole{
    min-height: 60vh;
}
.command-header {
    color: black;
    display: table;
    width: 100%;
    background: silver;
}

.command-title {
    display: table-cell;
    cursor: default;
}

.command-btn {
    display: table-cell;
    padding: 0px;
    margin: 0px;
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    background-color: inherit;
}

.command-btn:HOVER {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.command-btn-square > span {
    border: 1px solid rgba(0, 0, 0, 1);
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
}

.command-btn-close:HOVER {
    background-color: red;
}

.console-black {
    padding: 10px 0px;
    background-color: black;
    word-break: break-all;
    font-family: 'Dotkey';
    max-height: 75vh;
    box-sizing: border-box;
    overflow-y: scroll;
}

.console-black-max-height {
    height: 100%;
    max-height: inherit;
    overflow: hidden;
}

.console-black * {
    color: white;
}

.input-character {
    background-color: rgba(37, 92, 194, 1);
    filter: invert(100%);
}

.wrap {
    margin: 30px auto;
    padding: 70px 150px 10px 10px;
    width: 95vw;
    max-width: 1600px;
    min-height: 50vh;

    background: rgba(0, 0, 0, 0);
    /* filter: grayscale(100%); */

    box-sizing: border-box;
    /* word-break: keep-all; */

}

.msg-infomation {
    animation: tinkleContents 1s infinite;
    color: royalblue;
}

.msg-success {
    animation: tinkleContents 1s infinite;
    color: seagreen;
}

.msg-warning {
    animation: tinkleContents 1s infinite;
    color: red;
}

@keyframes tinkleContents {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.profile-category {
    font-size: 2em;
}

.profile-list > li {
    padding: 20px;
    display: inline-block;
}

#profileDetails {
    font-size: 15px;
}

#profileDetails fieldset {
    padding-left: 2px;
    padding-right: 2px;
}

.profile-title {
    font-size: 1.5em;
}

.profile-skill {
    display: flex;
    padding: 10px;
}

.profile-skill > * {
    padding: 5px;
}

.profile-skill-set {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-skill-title {
    background-color: white;
    border-radius: 5%;
    width: 50px;
}

.profile-skill-title > img {
    max-width: 50px;
    max-height: 50px;
    margin: 0px auto;
}

.consoleImg {
    border: 1px solid;
    width: 400px;
    height: auto;
}

.consoleImg-horizon {
    border: 1px solid;
    max-width: 400px;
    height: auto;
}

.consoleImg-vertical {
    border: 1px solid;
    max-height: 400px;
    width: auto;
}

@media (max-width: 1200px) {
    .wrap {
        padding: 70px 10px 10px 10px;
    }

    .profile-list > li {
        display: block;
    }

    .command-max-width {
        padding: 0;
    }
}

@media (max-height: 500px) {
    footer {
        display: none;
    }
}


#board-list-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#board-list-section > a, #page-block-section > a {
    padding: 10px;
    margin: 10px;
    border: 1px outset;
}


#page-block-section {
    text-align: center;
    margin: 20px 5px;
}