@charset "UTF-8";

#icon-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 50px;
    max-height: 90vh;
}

#icon-container > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 90px;
    min-height: 90px;
    justify-content: center;

}

#icon-container > div:HOVER {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);

}

#icon-container > div:focus {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);

}

#icon-container p {
    margin: 0;
    padding: 0;
}

#icon-container img {
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
}