@charset "UTF-8";

.command{
    border: 1px groove silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: ContentsCreate 1s;
}
@keyframes ContentsCreate{
    from{
        filter: invert(0.8);
    }
    to{
        filter: invert(0);
    }
}
.command-header{
    color: black;
    display: table;
    width: 100%;
    background: silver;
}
.command-title{
    display: table-cell;
    cursor: default;
}
.command-btn{
    display: table-cell;
    padding: 0px;
    margin: 0px;
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    background-color: inherit;
}
.command-btn:HOVER{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
.command-btn-squre:HOVER{
    cursor: not-allowed;
}
.command-btn-squre>span{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
}
.command-btn-close:HOVER{
    background-color: red;
}
.console-black{
    padding: 10px;
    background-color: black;
    word-break: break-all;
    font-family: 'Dotkey';
}
.input-character{
    background-color: inherit;
    filter: invert(100%);
}
.wrap{
    margin: 30px auto;
    padding: 70px 150px 10px 10px;
    width: 95vw;
    max-width: 1600px;
    min-height: 50vh;
                            
    background: rgba(0, 0, 0, 0);
    /* filter: grayscale(100%); */

    box-sizing: border-box;
    /* word-break: keep-all; */
    
}
.msg-infomation{
    animation: tinkleContents 1s infinite;
    color:  royalblue;
}
.msg-success{
    animation: tinkleContents 1s infinite;
    color:  seagreen ;
}
.msg-warning{
    animation: tinkleContents 1s infinite;
    color:  red;
}
@keyframes tinkleContents{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
.prifile-category{
    font-size: 2em;
}
.prifile-list>li{
    line-height: 100%;
    padding: 20px;
    display: inline-block;
}

#profileDetails>*{
    animation: ContentsCreate 1s;
}
.profile-title{
    font-size: 1.5em;
}

.prifile-skill{
    display: flex;
    padding: 10px;
}
.prifile-skill>*{
    padding: 5px;
}
.profile-skill-set{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prifile-skill-title{
    background-color: white;
    border-radius: 5%;
    width: 50px;
}
.prifile-skill-title>img{
    width: 50px;
    height: auto;
}
@media(max-width:1200px){
    .wrap{
        padding: 70px 10px 10px 10px;
    }
    .prifile-list>li{
        display: block;
    }
}