/* @import "/2_css/style.css"; */

header{
    padding: 0.1rem 0px;
    height: 1.5rem !important;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
}
#headerLogo{
    margin: 10px;
    /* filter: invert(100%); */
    cursor: pointer;
    transform: rotate(-45deg) translateX(-15px) translateY(-20px);
    transform-origin: top;
    transition: 1s all;
}
.header-eye{
    position: absolute;
    top: 15px;
    right: 45px;
    text-align: center;
    display: inline-block;
    opacity: 0;
    transition: 1s all;
    z-index: -1;
}
.header-eye-eyelid{
    position: absolute;
}
.header-eye-pupil{
    position: fixed;
    /* filter: invert(100%); */
}
/* #headerLoading{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
} */
.header-contents{
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    position: fixed;
    font-weight: bold;
}
.header-msg-success{
    animation: tinkleContents 1s;
    animation-iteration-count: infinite;
    color: green;
}
.header-msg-waning{
    animation: tinkleContents 1s;
    animation-iteration-count: infinite;
    color: red;
}
@keyframes tinkleContents{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.header-modal{
    /* content: ""; */
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    z-index: 101;
}
.header-modal-component{
    margin: 0px;
    padding: 0px 10vw;
    width: 100vw;
    height: auto;
    min-height: 50px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 1);

    position: fixed;
    top: 70px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-modal-title{
    border: 1px solid;
    padding: 3px 10px;
    width: 80vw;
    box-sizing: border-box;

    /* border-radius: 1rem; */
    font-size: 1.5rem;
    font-weight: bold;

    animation: modal-pop-up 1s;
    display: flex;
    justify-content: space-between;
    cursor: move;
}
.header-modal-title-close{
    text-decoration: none;
    color: inherit
}
.header-modal-title-close:HOVER{
    color: red;
}
.header-modal-contents{
    border: 1px solid;
    padding: 5px;
    width: 80vw;
    box-sizing: border-box;
    
    /* border-radius: 1rem; */
    text-align: center;

    animation: modal-pop-up 1s;
}

@keyframes modal-pop-up{
    0%{
        width: 0vw;
    }
    100%{
        width: 80vw;
    }
}


@media(min-width:1200px){
    .header-eye{
        opacity: 1;
        z-index: 0;
    }
}
















.header-fake-contents{
    content: "";
    height: 1.2rem;
    /* border-bottom: 1px solid rgba(255, 255, 255, 1); */
}


