@charset "UTF-8";

header{
    padding: 0.1rem 0px;
    height: 1.5rem !important;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
    position: fixed;
    top: 0px;
    z-index: 100;
    box-sizing: border-box;
}
#headerLogo{
    width: 30px;
    margin: 10px;
    /* filter: invert(100%); */
    cursor: pointer;
    transform: rotate(-45deg) translateX(-15px) translateY(-20px);
    transform-origin: top;
    transition: 1s all;
}
.header-eye{
    position: absolute;
    top: 12px;
    right: 25px;
    text-align: center;
    opacity: 0;
    transition: 1s all;
    z-index: -1;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
}
.header-eye-eyelid{
    position: relative;
    width: 20px;
}
.header-eye-pupil{
    width: 3px;
    position: fixed;
    box-shadow: 2px 2px 2px black,
                2px -2px 2px black,
                -2px 2px 2px black,
                -2px -2px 2px black;
    /* filter: invert(100%); */
}
.header-contents{
    padding-left: 3px;
    padding-right: 200px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    text-align: left;
    white-space: nowrap;
    position: fixed;
    transition: 0.5s all;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.header-contents>*{
    cursor: pointer;
    
}
.header-modal{
    /* content: ""; */
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    z-index: 100;
    word-break: keep-all;
}
.header-modal-component{
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 50px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 1);
    
    position: fixed;
    right: 30vw;
    top: 70px;
    display: none;
    flex-direction: column;
    align-items: center;
    animation: modal-pop-up 0.3s;
}
@keyframes modal-pop-up{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.header-modal-title-close{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    color: inherit;
    background-color: inherit;
    transition: 0.3s all;
}
.header-modal-title-close:HOVER{
    background-color: red;
}
.header-modal-title{
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    border: 1px groove silver;
    background-color: silver;
    padding: 0px 0px 0px 5px;
    width: 50vw;
    box-sizing: border-box;
    max-width: 600px;
    /* border-radius: 1rem; */
    display: flex;
    justify-content: space-between;
    cursor: move;
}
.header-modal-contents{
    border: 1px groove silver;
    padding: 5px;
    width: 50vw;
    box-sizing: border-box;
    max-width: 600px;
    /* border-radius: 1rem; */
    text-align: center;
}

@media(min-width:1200px){
    .header-eye{
        opacity: 1;
        z-index: 0;
    }
}