/* @import "/2_css/style.css"; */

/* header태그 height: 30px, padding: 5px으로 지정
    top: 40px(30px+5px+5px)부터 headerLogo를 가릴만큼 height지정
 */
nav{
    /* body태그를 투명하게 하여
    1. 사용자가 클릭은 할 수 없고
    2. nav태그 컨텐츠가 표시되도록 함
    (only read) */
    position: fixed;
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    overflow: hidden;
}
.nav-title{
    font-size: 200px;
}
.nav-contents{

}
aside{
    position: fixed;
    right: 0px;
    width: 150px;
    height: 100vh;
    padding: 100px 5px 10px 5px;
    box-sizing: border-box;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
    
    transition: 0.3s all;
    transform: rotate(-45deg) translateY(-100px) translateX(65px);;
    transform-origin: top;
    z-index: 1;
}
aside>*{
    opacity: 0;
}
.aside-focus{
    transform: rotate(0deg);
    background: rgba(0, 0, 0, 0.2);
}

.aside-list{
    list-style: none;
    padding: 5px;
    font-size: 1.5em;
}
.aside-list>li{
    margin: 0.5em 0px;
}
.aside-list>li>a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s all;
}
.aside-list>li>a:HOVER{
    color: rgba(150, 0, 0, 1);
}
@media(min-width:1200px){
    aside{
        transform: rotate(0deg);
    }
    aside *{
        opacity: 1;
    }
    .arrow{
        display: none;
    }
}

.arrow{
    position: fixed;
    font-weight: bold;
    top: 55px;
    right: 5px;
    color: rgba(255, 255, 255, 1);
    transform: rotate(-45deg);

    animation: bound 0.5s;
    animation-iteration-count: infinite;
}
@keyframes bound{
    0%{
        transform: rotate(-45deg) translateX(5px);
    }
    50%{
        transform: rotate(-45deg) translateX(0px);
    }
    100%{
        transform: rotate(-45deg) translateX(5px);
    }
}

.arrow-reverse{
    transform: rotate(135deg);
    animation: bound-reverse 0.5s;
    animation-iteration-count: infinite;
}
@keyframes bound-reverse{
    0%{
        transform: rotate(135deg) translateX(5px);
    }
    50%{
        transform: rotate(135deg) translateX(0px);
    }
    100%{
        transform: rotate(135deg) translateX(5px);
    }
}





/* 
.aside-fake-contents{
    content: "";
    display: inline-block;
    right: 0;
    top: 0;
    height: 100vw;
    width: 160px;
    transform: rotate(-45deg) translateY(-100px) translateX(20px);;
    transform-origin: top;

    
    border: 1px solid;
} */