@charset "UTF-8";

#headerLogo{
    display: block;
    opacity: 1 !important;
    cursor: pointer;
    transform: rotate(-270deg);
    transform-origin: bottom;
    z-index: 9999;
    margin: 0px;
    padding: 5px;
    position: absolute;
    left: -40px;
    color: rgba(255, 255, 255, 1);
    /*background: url('../4_img/background/f7531767a6c3f8af51123596437735bd.gif');*/
    /*background-clip: text;*/
    -webkit-background-clip: text;
    background-size: cover;
}

#headerLogo:HOVER{
    cursor: pointer;
}

nav{
    /* 로딩 중 nav태그 컨텐츠가 표시되도록 함 */
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10rem;
    animation: navCreate 0.3s;
}
.nav-title{
    border-top: 1px solid rgba(255, 255, 255, 0.5);

    padding-top: 20px;
    font-size: 50px;

    background: rgba(0, 0, 0, 1);
    min-height: 10vh;
}
.nav-contents{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    padding-top: 20px;
    margin-bottom: 35vh;
    font-size: 30px;
    
    background: rgba(0, 0, 0, 1);
    min-height: 10vh;
}
@keyframes navCreate{
    from{
        left: 50vw;
        width: 0vw;
    }
    to{
        left: 0vw;
        width: 100vw;
    }
}
aside{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 100vh;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
    text-align: left;
    transition: 0.3s all;
    transform: rotate(-45deg) translateX(70px) translateY(-25px);
    transform-origin: top;
    z-index: 1;
}
aside>*{
    opacity: 1;
}
aside>div:first-child{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.aside-focus{
    transform: rotate(0deg);
    /* background: rgba(0, 0, 0, 0.2); */
}
.aside-list{
    list-style: none;
    margin-top: 100px;
    padding: 5px;
    font-size: 1.5em;
}
.aside-list>li{
    margin: 1em 0px;
}
.aside-list>li>a{
    transition: 0.3s all;
}
.aside-list>li>a:HOVER{
    color: rgba(150, 0, 0, 1);
}
@media(min-width:1200px){
    aside{
        transform: rotate(0deg);
    }
    aside *{
        opacity: 1;
    }
}