@charset "UTF-8";

#project-section {
    justify-content: space-around;
}

/*********************************************보충필요*/


#project-section-selected {
    position: absolute;
    color: white;
    z-index: 1;
    left: 0px;
    top: -100px;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s all;

}

#project-section-selected > section {
    margin: 0px auto;
    word-break: break-word;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.3),
    1px -1px 3px rgba(0, 0, 0, 0.3),
    -1px -1px 3px rgba(0, 0, 0, 0.3);
    animation: Tadow 1s;
    transition: 1s all;
}

#project-section-selected > section > * {
    background: rgba(0, 0, 0, 0.3);
}

#project-section-selected > section > h2 {
    display: block;
    border-bottom: 1px solid black;
    padding: 10px;

}

#project-section-selected > section > h5 {
    letter-spacing: 10px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3),
    -1px 1px 5px rgba(0, 0, 0, 0.3),
    1px -1px 5px rgba(0, 0, 0, 0.3),
    -1px -1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    animation: changeFontColorRed 1s infinite;
}

@keyframes changeFontColorRed {
    0% {
        color: white;

    }
    50% {
        color: Red;

    }
    100% {
        color: white;

    }

}

#project-section-selected > section > div {

}

#project-section-selected > section > div > div {
    margin: 0px auto;
    background: white;
    color: black;
    display: table;
    max-width: 95vw;
    width: 1200px;
    padding: 10px;
}
#project-section-selected > section > div > div:first-child {
    display: none;
}

#project-section-contents {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

#project-section-contents > section {
    width: 300px;
    height: 250px;
    margin: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.3),
    1px -1px 3px rgba(0, 0, 0, 0.3),
    -1px -1px 3px rgba(0, 0, 0, 0.3);
    animation: Tadow 1s;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

#project-section-contents > section > h5,
#project-section-contents > section > div > div:last-child {
    display: none;
}

#project-section-contents > section > div > div:first-child > * {
    width: 200px;
    height: 200px;
}

#project-section-contents > section:hover {
    box-shadow: 1px 1px 3px RED,
    -1px 1px 3px RED,
    1px -1px 3px RED,
    -1px -1px 3px RED;
    cursor: pointer;
}

@keyframes Tadow {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}