@charset "UTF-8";
@font-face{
    font-family: 'Dotkey';
    src: url(/Rise-Up-With-BigFoot/3_font/DungGeunMo.eot);
    src: url(/Rise-Up-With-BigFoot/3_font/DungGeunMo.ttf) format('truetype');
    
}
/* index */

html *{
    font-family: 'Dotkey';
    font-size: 15px;
}

