@charset "UTF-8";

.welcome-box{
    position: fixed;
    height: 100vh;
    z-index: 10000;
    top: 0px;
}

.welcome-box>div:nth-child(2n+1){
    width: 50vw;
    height: 100vh;
    z-index: 10000;
    background: rgba(0,0,0,1);
}
#welcomeLeftText{
    position: fixed;
    float: left;
    left: 0vw;
    text-align: center;
    font-size: 5vw;
    line-height: 100%;
    padding: 30vh 10px 10px 10px;
    word-break: break-all;
    box-sizing: border-box;
    transition: all 0.3s;
}
#welcomeRightText{
    position: fixed;
    float: right;
    right: 0vw;
    text-align: left;
    font-size: 3vw;
    line-height: 100%;
    padding: 25vh 10px 10px 5vw;
    word-break: break-all;
    box-sizing: border-box;
    transition: all 0.3s;
}
.welcome-line{
    position: fixed;
    height: 0vh;
    background: rgba(255,255,255,1);
    z-index: 10001;
    width: 2px;
    float: left;
    left: 50vw;
    animation: line-open 1.5s;
    transition: 1s all;
}
@media(min-width:1200px){
    .welcome-box>div:first-child{
        font-size: 50px;
    }

    .welcome-box>div:last-child{
        font-size: 30px;
    }
}
